<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <bean id="logMethodInterceptor" class="com.hy.logs.configuration.LogMethodInterceptor"></bean>
    <aop:config>
        <aop:pointcut id="logPointcut" expression="@annotation(com.hy.logs.ann.LogAnnotation)"/>
        <aop:advisor advice-ref="logMethodInterceptor" pointcut-ref="logPointcut"/>
    </aop:config>
</beans>